.content {
    padding: 20px 0;
    display: flex;
    flex-direction: row;
}

.boxContainer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
    flex: 1;

    .title {
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 15px;
    }
}

.paymentMethodItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #e6e6e6;
    margin-bottom: 5px;

    .name {
        font-size: 1.2rem;
        font-weight: bold;
    }
    .icon {
        width: 2rem;
        height: 2rem;
        margin-right: 0.5rem;
    }
    .type {
        font-size: 0.8rem;
        color: #8c8c8c;
    }
    .number {
        font-size: 0.8rem;
        color: #8c8c8c;
    }
}

.addCardButton {
    margin-top: 10px;
}