.content {
    padding: 20px 0;
    display: flex;
    flex-direction: row;
}

.boxContainer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px;

    .title {
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 15px;
    }
}

.leftColumn {
    flex: 4;
    padding: 0;
    margin: 0;
    display: inline-flex;
    flex-direction: column;
}

.rightColumn {
    flex: 1;
    padding: 0;
    margin: 0;
    display: inline-flex;
    flex-direction: column;
}