.container {
    padding: 20px;
    border-radius: 3px;
    background-color: #fff;

    .title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 15px;
    }

    .stats {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 5px;
        max-width: 350px;

        .stat {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            width: 100%;

            &:not(:last-child) {
                margin-bottom: 10px;
            }

            .star {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                width: 40px;
                margin-right: 10px;

                .text {
                    margin-right: 10px;
                    width: 8px;
                    text-align: center;
                }

                .icon {

                }
            }

            .progress {
                height: 25px;
                border: 1px solid #ccc;
                border-radius: 3px;
                width: 100%;
                margin-right: 15px;

                .progressValue {
                    background-color: #00bcd4;
                    height: 100%;
                    border-radius: 3px;
                }
            }

            .value {
                width: 10px;
                text-align: center;
            }
        }
    }
}