.product {
    display: flex;
    flex-direction: row;
    background-color: #F5F5F5;
    border-radius: 3px;
    border: 1px solid #ccc;

    &__image {
        overflow: hidden;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        
        img {
            display: block;
        }
    }

    &__body {
        padding: 0 0.5rem 0 1.5rem;
        width: 16rem;

        .info {
            .name {
                    white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
            }

            .price {}
        }

        .actions {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }
    }
}