.product {
    display: flex;
    flex-direction: row;
    .image {
        overflow: hidden;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        color: inherit;
        text-decoration: none;
        display: block;
        width: 150px;
        height: 150px;
        padding: 10px;

        img {
            display: block;
            margin: 0 auto;
            height: 100%;
        }
    }

    .body {
        padding: 0 0.5rem 0.5rem 1.5rem;
        width: 16rem;
        display: flex;
        flex-direction: column;


        .info {
            flex: 1;

            color: inherit;
            text-decoration: none;

            .name {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-bottom: 0;
            }

            .price {
                margin-top: 7px;
            }
        }

        .actions {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }
    }
}