.product {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 250px;
    // transition: transform 0.5s;

    // &:hover {
    //     transform: scale(1.05);
    // }

    .image {
        overflow: hidden;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        color: inherit;
        text-decoration: none;
        min-width: 250px;
        aspect-ratio: 1;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            display: block;
            max-width: fill-available;
            max-height: fill-available;
            max-height: -moz-available;
            max-height: -webkit-fill-available;
            max-width: -moz-available;
            max-width: -webkit-fill-available;
        }
    }

    .body {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 7px;

        .primary {
            flex: 1;
            color: inherit;
            text-decoration: none;
            color: inherit;

            .name {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-bottom: 0;
            }


        }

        .secondary {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            .price {
                font-size: 22px;
                text-decoration: none;
                color: inherit;
                margin-bottom: 10px;
            }
        }
    }
}