.content {
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    padding: 30px;

    @include devices(tablet) {
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content min-content;
    }

    .leftColumn {
        display: grid;
        gap: 20px;
    }
}

.boxContainer {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    background-color: white;
    padding: 20px;

    .title {
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 15px;
    }
}

.submitButton {
    margin-right: 10px;
}

.selected {
    background-color: #e0e0e0;
}

.checkbox {
    display: flex;
    align-items: center;
    margin-top: 15px;

    input[type="checkbox"] {
        width: 1.5em;
        height: 1.5em;
    }

    label {
        text-align: center;
    }
}

.paymentMethod {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    margin: 0 0 5px 0;
    padding: 3px 10px 3px 10px;
    cursor: pointer;
}