.searchBar {
    display: flex;
    flex-direction: row;
    // align-items: center;
    // justify-content: center;

    &:focus-within {
        outline: 2px solid black;
        border-radius: 2px;
    }

    .select {
        filter: brightness(95%);

        select {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            min-width: 170px;

            &:focus {
                outline: none;
            }
        }
    }

    .textfield {
        input {
            border-radius: 0;
            border-left: none;

            &:focus {
                outline: none;
            }
        }
    }

    .button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: 0;


        &:focus {
            outline: none;
        }
    }
}