.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.5rem;
    background-color: #fff;
    border-bottom: 1px solid #cac9c9;
    height: 70px;
    position: sticky;
    top: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 100000;

    .left {
        display: flex;
        align-items: center;
        flex-grow: 1;
        margin-right: 15px;

        .search-bar {
            margin-left: 25px;
        }
    }

    .right {
        .menu {
            display: flex;
            flex-direction: row;
            align-items: center;

            .profile {
                height: 40px;
                width: 40px;
                border-radius: 3px;
                overflow: hidden;
                margin-right: 10px;

                &:hover {
                    filter: brightness(95%);
                }
            }

            .menu-item {
                padding: 0 0.5rem;
                border-radius: 3px;
                height: 55px;
                cursor: pointer;

                &:hover {
                    background-color: #eaeaea;
                }

                &:active {
                    filter: brightness(95%);
                }
            }

            .shopping-cart-menu {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;

                a {
                    text-decoration: none;
                    color: inherit;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-direction: row;

                    .shopping-cart-menu-icon {
                        font-size: 22px;
                        margin-right: 10px;
                    }

                    .shopping-cart-menu-primary {
                        font-size: 12px;
                        margin: 0;
                    }

                    .shopping-cart-menu-secondary {
                        font-size: 14px;
                        font-weight: bold;
                        margin: 0;
                    }
                }
            }

            .separator {
                width: 1px;
                height: 45px;
                background-color: #cac9c9;
                margin: 0 10px;
            }

            .profile-menu {
                display: flex;
                flex-direction: row;
                align-items: center;
            }

            .login-menu {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;

                a {
                    text-decoration: none;
                    color: inherit;

                    .login-primary {
                        font-size: 12px;
                        margin: 0;
                    }

                    .login-secondary {
                        font-size: 14px;
                        font-weight: bold;
                        margin: 0;
                    }
                }
            }

            .menu-icon {
                margin-left: 10px;
            }
        }


    }
}