.content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px;


    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0 20px 0;
        margin-bottom: 20px;

        .info {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            .text {
                padding: 0;
                margin: 0;
                margin-right: 10px;
            }

            .filters {
                .chip:not(:last-child) {
                    margin-right: 10px;
                }
            }
        }

        .options {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;

            .text {
                padding: 0;
                margin: 0;
                margin-right: 20px;
            }
        }
    }

    .products {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .product {
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
    }

}