.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 20px;


    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0 20px 0;
        margin-bottom: 20px;
        width: 100%;

        @include devices(tablet) {
            flex-direction: column;
        }

        .info {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            @include devices(tablet) {
                margin-bottom: 30px;
            }

            .text {
                padding: 0;
                margin: 0;
                margin-right: 10px;
            }

            .filters {
                .chip:not(:last-child) {
                    margin-right: 10px;
                }
            }
        }

        .options {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;

            .text {
                padding: 0;
                margin: 0;
                margin-right: 20px;
            }
        }
    }

    .products {
        display: grid;
        grid-template-columns: repeat(5, min-content);
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        column-gap: calc((100% - 250px * 5) / 4);
        row-gap: 35px;

        @include devices(tablet) {
            grid-template-columns: 1fr;
            justify-items: center;
        }

        .product {
            @include devices(tablet) {
                // width: 70%;
            }
        }
    }

}