.chip {
    display: inline-block;
    padding: 0.25em 0.75em;
    background-color: #fafafa;
    border-radius: 0.25em;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.5;
    color: #757575;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.08);
    border-radius: 20px;

    &:hover {
        filter: brightness(95%);
    }

    &:active {
        background-color: #e0e0e0;
        color: #212121;
    }

    .icon {
        margin-right: 0.40em;
        font-size: 1.25em;
        vertical-align: middle;
        display: inline-block;
    }

    .label {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
        display: inline-block;
    }
}